{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% block content%}
<div class="container">
    <div class="row">
        <h2>ceux qui suivent 
            {{request.user.username}}  
            sont:
        </h2>
        {% for follower in  followers%}
            <div class="col-md-5">
                <h1><a href="{% url 'profile' follower.username%}"><img src="{{follower.picture.url}}"/>{{follower.username}}</a></h1>                          
            </div>
        {%empty%}
            <p>Personnes pour l'instant</p>
        {%endfor%}
    </div>
</div>
{% endblock content%}