{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% block content%}
<div class="container">
    <div class="row">
        {% if request.user.is_staff == False %}
        <h1>Bonjour {{request.user.username}}, bienvenu sur Yakoi! </h1>
        <p>Pour finir votre inscription, veulliez remplir ces quelques champs!</p>
        <p>Si vous souhaitez vous inscrire en tant que responsable, suivez ce lien:
            <a href="{%url 'profile_respo_create' user.pk%}">responsable</a>
        </p>
        {%endif%}

        <h1 id="title">Modifier mon profile</h1>
        <div class="col-md-8">

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token%}
                {{form | crispy}}
                <h4>Activités</h4>

                <input type="checkbox" name="activities[]" value="technologie"  class="form-check-input" id="exampleCheck"/>
                <label class="form-check-label" for="exampleCheck">Technologie & science</label></br>

                <input type="checkbox" name="activities[]" value="excursion" class="form-check-input" id="exampleCheck1"/>
                <label class="form-check-label" for="exampleCheck1">Excursion</label></br>

                <input type="checkbox" name="activities[]" value="concert" class="form-check-input" id="exampleCheck2"/>
                <label class="form-check-label" for="exampleCheck2">Concert & spectacle</label><br/>

                <input type="checkbox" name="activities[]" value="sport" class="form-check-input" id="exampleCheck3"/>
                <label class="form-check-label" for="exampleCheck3">Sport &t bien etre</label><br/>

                <input type="checkbox" name="activities[]" value="divertissement" class="form-check-input" id="exampleCheck4"/>
                <label class="form-check-label" for="exampleCheck4">Loisir & divertissement</label><br/>

                <input type="checkbox" name="activities[]" value="salon" class="form-check-input" id="exampleCheck5"/>
                <label class="form-check-label" for="exampleCheck5">Salon & atelier</label><br/>

                <input type="checkbox" name="activities[]" value="autres" class="form-check-input mb-5" id="exampleCheck6"/>
                <label class="form-check-label" for="exampleCheck6">Divers</label></br>

                <input type="submit" value="Appliquer" id="btn-submit">
            </form>

        </div>
    </div>
    

   
</div>
{% endblock content%}