{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% block content%}
<div class="container">
    <div class="row">
        {% if request.user.is_staff == False %}
        <h1>Bonjour {{request.user.username}}, bienvenu sur Yakoi! </h1>
        <p>Pour finir votre inscription, veulliez remplir ces quelques champs!</p>
        <p>Si vous souhaitez vous inscrire en tant que responsable, suivez ce lien:
            <a href="{%url 'profile_respo_create' user.pk%}">responsable</a>
        </p>
        {%endif%}

        <h1 id="title">Modifier mon profile</h1>
        <div class="col-md-8">

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token%}
                {{form | crispy}}
                <h4>Activités</h4>

                {% include 'profile/composants/check_activities.html'%}

                <input type="submit" value="Appliquer" id="btn-submit">
            </form>

        </div>
    </div>
    

   
</div>
{% endblock content%}