{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% load static %}
{%block css%}
    <link rel="stylesheet" href="{% static 'profile.css' %}"/>
{%endblock css%}
{% block content%}
<div class="container">   
    <div class="row">
        {% if request.user == user and user.is_staff%}
                <div class="col-md-3">
                    {%if is_following%}
                        <form method="POST" action="{% url 'remove_follower' profile.pk%}">
                            {% csrf_token %}
                            <button type="submit"><img src="/media/suivre1.png" width="50px"></button>
                        </form>
                    {%else%}
                        <form method="POST" action="{% url 'add_follower' profile.pk%}">
                            {% csrf_token %}
                            <button type="submit"><img src="/media/suivre0.png" width="50px"></button>
                        </form>
                    {%endif%} 
                    
                </div>
                <div class="col-md-7">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#createEvenementModal" class="btn">
                    Créer un evenement
                    </button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#createvoyageModal" class="btn">
                        organisé un voyage
                        </button>
                    <a href="{%url 'profile_edit' user.id%}" class="btn">modifier le profile</a>
                </div>
                <div class="col-md-2">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#EditAlbumModal">
                        Modifier l'album
                    </button>
                </div>

        {%endif%}
        <center>
            <div class="information"> 
                <img src="{{profile.picture.url}}" id="img_profile" width="400px" height="340px"/>
                <h2 id="pseudo">{{user.username}}</h2>  
                {% if profile.fonction == True %} 
                    <div id="bio">{{profile.bio}}</div>  
                    <a href="{%url 'list_followers' profile.pk %}" class="btn">Suivis par ... personnes</a> 
                    <small>
                        | Adresse : {{profile.localisation}} 
                        | telephone : {{profile.contact}} 
                        | email : {{user.email}}     
                    </small>   
                {%else%}
                    <h2>Mes activités:</h2>
                    {% for activity in activities%}
                        <p>{{activity}}</p>
                    {%endfor%}
                {%endif%}  

            </div>        

                    
                           
        </center>
        
    <div class="publication mt-">
        {% if user.is_staff%}
         <!--Gallerie d'image-->
         <div class="card card_gallery"> 
            <div class="row">
               {% for gallery in galleries%}
               <div class="col-md-4 mt-3 col-lg-3">  
                   <img src="{{gallery.image.first.image.url}}" class="img_gallery" height="300px"data-bs-toggle="modal" data-bs-target="#EditAlbumModal{{gallery.id}}" alt="image" width="100%" />  
                   <div class="modal fade" id="EditAlbumModal{{gallery.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="EditAlbumModalLabel{{gallery.id}}" aria-hidden="true">
                       <div class="modal-dialog">
                         <div class="modal-content">
                           <div class="modal-header">
                             <h5 class="modal-title" id="modal-title">{{gallery.titre}}</h5>
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                           </div>
                           <div id="carouselExampleControls{{gallery.id}}" class="carousel slide" data-bs-ride="carousel">
                               <div class="carousel-inner">
                                       {% for img in gallery.image.all %}        
                                           {% if forloop.first %}
                                               <div class="carousel-item active">
                                                   <img src="{{img.image.url}}" width="400px" height="400px" />                     
                                               </div>
                                           {% else %}    
                                               <div class="carousel-item">
                                                   <img src="{{img.image.url}}"  width="400px" height="400px"/>                     
                                               </div>
                                           {% endif %}
                                       {%endfor%}
                               </div>          
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls{{gallery.id}}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next"  type="button" data-bs-target="#carouselExampleControls{{gallery.id}}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                 </button>
                           </div> 
                           
                       <!--a href="{% url 'gallery_delete' gallery.id %}">sup</a-->
                   
                         </div>
                       </div>
                   </div>     
               </div>
           {%endfor%}    
            </div>
                     
                
        </div>
                <h2>Evenements de {{user.username}}:</h2>      
                {% for event in  evenements%}
                        <div class="row">
                                <!--affichages des images en carousel-->
                                <div class="col-md-5">
                                    <div id="carouselExampleControls{{event.id}}" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                                {% for img in event.image.all %}        
                                                    {% if forloop.first %}
                                                        <div class="carousel-item active">
                                                            <img src="{{img.image.url}}" class="d-block w-100" width="350px" height="300px"/>                     
                                                        </div>
                                                    {% else %}    
                                                        <div class="carousel-item">
                                                            <img src="{{img.image.url}}"  width="350px" height="300px"/>                     
                                                        </div>
                                                    {% endif %}
                                                {%endfor%}
                                        </div>          
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls{{event.id}}" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next"  type="button" data-bs-target="#carouselExampleControls{{event.id}}" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button><br/>
                                    </div> 
                                </div>                       
                                <div class="col-md-2">
                                    <h4>{{ event.user.username}}</h4>
                                    <p id="lieu">{{ event.lieu}} | {{ event.date}} </p>
                                </div>
                                <div class="col-md-5">
                                    <h2>
                                        <a href="{%url 'event_detail' event.user.username event.url%}" id="titre">{{ event.titre}} </a>
                                    </h2>
                                    <p>{{ event.description| truncatechars:350}}...</p>
                                    <p>
                                        <form method="POST" action="">
                                            {%csrf_token%}
                                            <input type="hidden" value="{{request.path}}"/>
                                            ...like(s)
                                            <div class="badge"> {{event.category}}</div>
                                            
                                        </form>
                                    </p>
                                    <div>
                                        <form method="POST" action="{% url 'like' event.url%}">
                                            {%csrf_token%}
                                            <input type="hidden" value="{{request.path}}" name="next"/>
                                            <button type="submit" class="btn-txt">
                                              {{event.likes.all.count}} likes
                                            </button>
                                            {{comments.all.count}} commentaires
                                        </form>  
                                    </div>
                                </div>     
                            
                        </div> 
                {%endfor%}                               
                <div class="pagination">
                    <span class="step-links">
                        {% if evenements.has_previous %}
                            <a href="?page=1">&laquo; 1</a>
                            <a href="?page={{ evenements.previous_page_number }}">1</a>
                        {% endif %}
                        <span class="current">
                            Page {{ evenements.number }} sur {{ evenements.paginator.num_pages }}.
                        </span>
                        {% if evenements.has_next %}
                            <a href="?page={{ evenements.next_page_number }}">apres</a>
                            <a href="?page={{ evenements.paginator.num_pages }}">{{evenements.paginator.num_pages}} &raquo;</a>
                        {% endif %}
                    </span>
                </div>
        {%endif%}
</div>
    </div>
</div>

     
<!--modal creation evenement-->
  <div class="modal fade" id="createEvenementModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createEvenementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Creer un evenement</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" action="{%url 'event_list' %}">
                    {% csrf_token%}
                    {{form_evenement | crispy}}
                    <input type="date" name="date_debut" class="form-control" required/><br/>
                    

                    <label for="category" class="form-label">Category</label>

                    <select name="category" required class="form-select" id="category">
                        <option value="concert">Musique, Danse, Spectacle, Festivité</option>
                        <option value="sport">Activités-Sport</option>
                        <option value="art">Art, Culture, Theatre</option>
                        <option value="salon">Salon, conference, atelier</option>
                        <option value="technologie">Technologies, science</option>
                        <option value="loisir">Velo, saut en parachute,...</option>
                        <option value="autres" selected>Divers</option>
                    </select><br/>
                    <center><input type="submit" value="Publier" id="btn-submit"></center>
                </form> 
        </div>
   
    </div>


      </div>
</div>

<!--modal creation voyage-->
<div class="modal fade" id="createvoyageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createvoyageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Creer un voyage</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" action="{%url 'event_list' %}">
                    {% csrf_token%}
                    {{form_voyage | crispy}}
                    Debut: <input type="date" name="date_debut" class="form-control" required/><br/>
                    Fin: <input type="date" name="date_fin" class="form-control" required/><br/>
                    

                    <label for="category" class="form-label">Category</label>

                    <select name="category" required class="form-select" id="category">
                        <option value="concert">Musique, Danse, Spectacle, Festivité</option>
                        <option value="sport">Activités-Sport</option>
                        <option value="art">Art, Culture, Theatre</option>
                        <option value="salon">Salon, conference, atelier</option>
                        <option value="technologie">Technologies, science</option>
                        <option value="loisir">Velo, saut en parachute,...</option>
                        <option value="autres" selected>Divers</option>
                    </select><br/>
                    <center><input type="submit" value="Publier" id="btn-submit"></center>
                </form> 
        </div>
   
    </div>


      </div>
</div>

<!--modal creation gallery-->
<div class="modal fade" id="EditAlbumModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="EditAlbumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Ajouter un album</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" enctype="multipart/form-data" action="{%url 'gallery' %}">
                {% csrf_token%}
                {{form_gallery | crispy}}   
                <input type="submit" value="Submit">
            
            </form>
        </div>

      </div>
    </div>
</div>

</div>
{% endblock content%}
