{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% load static %}
{%block css%}
    <link rel="stylesheet" href="{% static 'profile.css' %}"/>
{%endblock css%} 
{% block content%}
<div class="container mt-5">   
    <div class="row">
        {% if request.user == user%}
            {%if user.profile.fonction == True %}
                <div class="col-md-2">
                    {%if is_following%}
                        <form method="POST" action="{% url 'add_follower' user.profile.pk%}">
                            {% csrf_token %}
                            <button type="submit"><img src="/media/images/suivre1.png" width="50px"></button>
                        </form>
                    {%else%}
                        <form method="POST" action="{% url 'add_follower' user.profile.pk%}">
                            {% csrf_token %}
                            <button type="submit"><img src="/media/images/suivre0.png" width="50px"></button>
                        </form>
                    {%endif%} 

                </div>     

                <div class="col-md-2">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#EditAlbumModal" class="btn">
                        Modifier l'album
                    </button>
                </div>
                <div class="col-md-3">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#createEvenementModal" class="btn">
                    Créer un evenement
                </button>
                </div>
            {%endif%}
        {%endif%}
        <center>
            <img src="{{user.profile.picture.url}}" id="img_profile" width="400px" height="340px"/>
                <h2 style="color: #41464b;">{{user.username}}</h2>  
                 
                {% if user.profile.fonction == True %} 
                    <div id="bio">{{user.profile.bio}}</div>  
                    <small>Suivis par {{user.profile.followers.count}} personne{{user.profile.followers.count|pluralize}}</small>

                    <small>| Adresse : {{user.profile.localisation}} |
                     telephone : {{user.profile.contact}} |
                     email : {{user.email}}     </small>   

                {%else%}
                <h2>Mes activites:</h2>
                    {% for activity in activities%}
                        <p>{{activity}}</p>
                    {%endfor%}
                {%endif%}                        
        </center>

    <div class="container">
        {% if user.is_staff%}
            <!--Gallerie d'image-->
            <div class="card card_gallery mt-5"> 
                <h2>Galleries</h2>
                {% include 'profile/composants/gallery.html' with galleries=galleries%}
            </div>
            <div class="mt-5">
            <h2>Evenements de {{user.username}}:</h2>      
            {% for event in  evenements%}
                {%include 'composants/event_card.html' with evenement=event%}
            {%endfor%}                               
            {%include 'composants/pagination.html' with evenements=event%}
        {%endif%}
    </div>
</div>

     
</div></div>
<!--modal modification profile-->
{% include 'profile/composants/edit_gallery_modal.html' with formgallery=formgallery%}

<!--modal creation evenement-->
{% include 'composants/event_create_modal.html' with form_evenement=form_evenement%}

{% endblock content%}
