{% extends 'base.html'%}
{% load static%}
{% load crispy_forms_tags%}
{% block css%}
    <link rel="stylesheet" href="{% static 'big_category.css' %}"/>
    
{% endblock css%}

{% block content%}
    <div class="container-fluid mt-0">
        <div class="marquee-rtl mt-0">
            <div class="marquee-content">
                {% for event in  events_week%}
                <a href="{% url 'event_detail' event.pk%}" id="marquee-txt">
                    <img src="{{event.images.first.image.url}}" width="70" height="40px" id="marquee-img"/>
                    {{event.title}}</a>
                {%endfor%}                                                 
            </div>
        </div>

        <!--barre de recherche-->
        <div class="row row_search">
            <div class="col-md-6">
                <h3>Les activités et évènements YaKoi</h3>
            </div>
            <div class="col-md-6">
                    <form method="GET" action="{% url 'event_search'%}">   
                        <input type="text" name="query" placeholder="Rechercher un evenement" id="search_input"/>
                        <button id="search1">rechercher</button>
                    </form>

               
            </div>
        </div>
        
                {% include 'composants/filter_by_category.html'%}
            </div>
    <div class="container-fluid mt-5">  
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h4><span>Filtrer les résultats</span></h4>
                            {% include 'composants/filter_event.html' with villes=villes%}
                        </div>
                    </div>
                <h5 id="title" class="mt-5"><span>Rechercher par mot cles</span></h5>
                {% include 'composants/filter_event_by_tag.html' with villes=villes%}

            </div>
            <div class="col-md-9">
                {% for evenement in  evenements%}
                <div class="card">
    <div class="card-body">
                    {% include 'composants/event_card.html' with evenement=evenement%}</div></div>
                {%endfor%}                               
          
            </div>
        </div> 
           
        </div>

    </div>
   
{% endblock content%}