{% load crispy_forms_tags%}
<div class="modal fade" id="EditAlbumModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="EditAlbumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Ajouter un album</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" enctype="multipart/form-data" action="{%url 'gallery' %}">
                {% csrf_token%}
                {{formgallery | crispy}}   
                <input type="submit" value="Submit" class="btn btn-primary btn-full-width mt-5">
            
            </form>
        </div>

      </div>
    </div>
</div>