h2 {
    color: #41464b;
    font-size: 30px;
    padding: 20px;
    font-family: serif;
    font-weight: 400; 
}

#title {
    color:#d65814;
    text-decoration: none;
    font-family: serif;
    font-weight: bolder;
}

.contenu p {
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 1rem;
}
#p_list {
    color: #41464be6;
    font-size: 14px;
    line-height: 24px;
    font-family: -webkit-pictograph;
}
a.btn.btn_plus {
    color: #d65814;
    background: transparent;
}
#like{
    background: transparent;
    border: none;
    font-family: sans-serif;
    font-size: 14px;
    color: gray;
}
#btn_comm {
    border: none;
    color: #6c757dde;
}
select {
    width: 100%;
    padding: 5px;
    font-size: 20px;
}
.flt{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.753);
}

.card-header {
    background: white;
    color: #f75403;
}
button#filtrer{
    background: white;
    color: #f75403;
    width: 100%;
    height: 100%;
    border: 1px solid #f75403;

}

#find{
    width: 80%;
}
.flt p {
    font-size: 1.25rem;
    color: grey;
}
.hola{
    margin-left: 10%;
    margin-bottom: 50%;
    color: black;
    background-color: white;
}
#contenu{
    margin-left: 10%;
}
a.article-tags {
    text-decoration: none;
    color: #d47715;
    font-family: -webkit-pictograph;
}

h2#title {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top:14px;
    margin-bottom: 14px;
    padding: 0;
    background: #6c757d;
    font-family: sans-serif;
    /* font-weight: 400; */
}
h2#title > span {
    background: #bf6e1a;
    /* color: red; */
    padding: 8px;
}
img:hover{
    /*filter: grayscale();*/
    -webkit-transition: all 0.5s;
    -mz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.boda {
    border-bottom: 1px solid orangered;
    font-size: 18px;
    font-family: serif;
    margin: 2px;
}
.txt{
    text-decoration: none;
    color: grey;
}
.col-md-3.pied {
    text-align: center;
    background: #41464b;
    border: 5px solid white;
    border-radius: 15px;
    padding: 2%;
}
.col-md-3.pied .txt{
    color:white
}


div#MyDiv2 {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    align-items: center;
    text-align: center;
    min-height: 60px;
    border-radius: 15px;
}
div#MyDiv {
    padding: 2%;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}
div#MyDiv > button,div#MyDiv2 > button {
    margin: 3px;
}
.card1 .card-header {
    background: white;
    border-top: none;
    border-bottom: 1px solid #6c757d;
}

.card-header.btn1 {
    background: #6c757d;
    margin: 0;
    padding: 0;
    align-items: center;
}

button.btn2  {
    width: 100%;
    color: white;
}


h4 span{
    color: orangered;
}
#title_evenement {
    color: #134999;
    text-decoration: none;
    font-weight: bolder;
}
#title_evenement_list{
    color: #134999;
    text-decoration: none;
    font-weight: bolder;
    font-size: 24px;

}
#description{
    color: #110404;
    font-size: 14px;
}
label.form-check-label.a {
    font-size: 14px;
}
.form-label {
    font-size: 20px;
    font-family: serif;
    color: #212529;
}
.row1{
    
    color: white;
    padding-top: 5%;
    background-image: url('/media/f0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.row.row2 {
    background: #ff4500b3;
    padding: 2%;
}

#event_j{
    margin-top: 6%;
    margin-bottom: 6%;
}

.btn_i {
    text-align: center;
    border: 1px solid #6c757d;
    border-radius: 15px;
    padding: 1%;
    background: white;
}
.txt_i {
    text-decoration: none;
    color: #41464b;
    font-weight: bolder;
    /* font-family: -webkit-pictograph; */
}

.contenta {
    padding-left: 45px;
}
.tt{
    color:white;
}
.ttb{
    background-color: orangered;
    color: white;
}
p#pp {
    background: #055160;
    color: white;
    padding: 0;
}
