#rep_comment{
    margin-left:50px;
    max-width: 80%;
}

.body {
    font-family: unset;
    font-size: 20px;
    color: #555;
}


#date {
    margin: 0 0 10px;
    color: rgb(109, 105, 105);
}

textarea#id_comment {
    width: 105%;
    height: 50px;
}
#btn-comment {
    margin: 0;
    height: 50px;
}

#comment-user {
    color: rgb(160, 84, 56);
    font-size: 20px;
}
#comment{
    max-width: 85%;
}
#location-h2{
    color: orangered;
}