
#p_list{
    color: #110404;
    font-size: 14px;
}
b {
    font-size: 16px;
    color: #41464b;
}

#titre {
    color: #41464b;
    margin-bottom: 22px;
}
.row1 {
    padding-top: 8%;
    padding-bottom: 8%;
    align-items: center;
    text-align: center;
}
#p_forum{
    margin-top: 22px;
}
#texte {
    color: inherit;
    text-decoration: none;
}
#category_titre{
    font-size: 15px;
    background: black;
    text-align: center;
    color: white;
}
h4 > span ,h2 > span{
    color:  orangered;
    padding: 10px;
    border-radius: 5px;
}
.container.content {
    margin-top: 7%;
}
a#texte {
    text-decoration: none;
    color: grey;
}