{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% block content%}
<div class="container-fluid d-flex flex-column min-vh-100">
        <div class="row mt-5">
            <center>
                <form method="POST">
                    {% csrf_token%}
                    <h3>Etes-vous sur de vouloir le supprimer?</h3>
                    
                    <input type="submit" value="oui" class="btn btn-danger mt-5">
                </form>
            </center>
            
        </div>
    </div>
{% endblock content%}
