{% extends "base.html" %}
{% load static%}
{%block content%}
{% block css%}
  <link rel="stylesheet" href="{% static 'authentication.css'%}">
{%endblock%}


<div class="container">
    <div class="card-formulaire">
      <div class="row">
        <div class="offset-2 col-md-4">
          <img src="/media/images/profile.jpg" width="105%" height="500px">
        </div>
        <div class="col-md-4 card_form">
          
          <form class="signup" method="post" action="{% url 'signup' %}">
            <center>
              <h4 style="color: orangered;" class="mb-3">S'inscrire</h4>
            </center>
            {% csrf_token %}
           {{  register_form.as_p }}
            <button class="primaryAction"  type="submit" >S'inscrire </button>
          </form>
          <small>
            Votre pseudo ne doit pas contenir d'espace.<br/>
          </small>
        </div>
          
      </div>
    
    </div>
{% endblock %}
