{% extends "base.html" %}
{% load static%}
{%block content%}
{% block css%}
  <link rel="stylesheet" href="{% static 'authentication1.css'%}">
{%endblock%}

<div class="container">
    <div class="card2">
      <div class="row">
        <div class="offset-2 col-md-4">
          <img src="/media/auth.jpg" width="105%" height="500px">
        </div>
        <div class="col-md-4 r1">
          
          <form class="signup" method="post" action="{% url 'signup' %}">
            <center>
              <h4 id="titre" class="mb-3">S'inscrire</h4>
            </center>
            {% csrf_token %}
           {{  register_form.as_p }}
            <button class="form-control1" id="btn_connexion" type="submit" >S'inscrire </button>
          
          </form>
        </div>
          
      </div>
    
    </div>
{% endblock %}
