{% extends 'base.html'%}
{% load static%}
{% load crispy_forms_tags%}
{% block css%}
    <link rel="stylesheet" href="{% static 'evenement1.css' %}"/>

{% endblock css%}
{% block content%}
<div class="tete">
    <div class="container">
        <form method="GET" action="{% url 'voyage_filtre'%}">
            <div class="row">
            <div class="offset-1 col-md-2">
                <label for="region" class="form-label tt">location</label>
                <select name="region" class="form-select" id="region">                       
                    <option value="all">Tout les locationx</option>
                    <option>Ambatomaro</option>
                    <option>Antsobolo</option>
                </select>
            </div>
            
            <div class="col-md-2">
                <label for="tariff" class="form-label tt">tariff maximum</label>
                <input type="number" name="tariff" placeholder="tariff maximum" id="tariff" class="form-control">
            </div>
    
            <div class="col-md-2" >
                <label for="date" class="form-label tt">Date debut</label>
                <input type="date" name="date" id="date" class="form-control"/>
            </div>
    
            <div class="col-md-2" >
                <label for="end_date" class="form-label tt">Date fin</label>
                <input type="date" name="date" id="date" class="form-control"/>
            </div>
            
            <div class="col-md-2">
                <p>.</p>
                <button type="submit" class="btn ttb">Appliquer le filtre</button>
            </div>
        </div>
        </form>
    </div>
    
</div>

<div class="container">
    <div class="row mb-3">
        <div class="col-md-5">
            <h3>Les voyages organisés YaKoi</h3>
           
        </div>
        <div class="col-md-7">
            <form method="GET" action="{% url 'search_voyages'%}">
        
                <input type="text" name="query" placeholder="Rechercher un endroit" id="search_input"/>
                <button id="search1">rechercher</button>
            </form> 
    
        </div>
    </div>
        
</div>


<div class="container">
    <div class="row">
        {% for event in  evenements%}
            <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div style="position:relative;text-align:center;">
                                    <img src="{{event.image.first.image.url}}" alt="Cingue Terre" style="width:100%;height:350px;border-radius: 8px;" >
                        
                                    <div style="position:absolute;top:8px;right:16px;font-size:18px;color:white;border: 1px solid grey;padding:10px;border-radius: 5px;">
                                        {{event.tariff}} Ar
                                    </div>
                                </div>                                            
                            </div>
                            
                            <div class="col-md-5">
                                
                                <a id="profile_lien"> Du {{ event.date}} au {{event.end_date}} à {{event.location}}</a><br/>   
                                    <h5>

                                        <a href="{%url 'event_detail' event.pk%}" id="title_evenement_list">{{ event.title}} </a>
                                    </h5>   
                                    <p  id="description">          
                                        {{ event.description| truncatechars:500}}   
                                    </p>          
                                    <p >
                                        <small class="text-muted"> 
                                            <a href="{% url 'profile' event.user.username%}" class="txt">@{{ event.user.username}}</a> |  {{event.category}} | {{event.likes.all.count}} like                              
                                        </small>
                                    </p>
                                    
                                
                            </div>
                        </div>
                    </div>
            </div>
        {%endfor%}                               
          
    </div>
</div>
{% endblock content%}