<button type="button" class="btn_i m-2">
    <a href="{% url 'event_category' 'fete'%}" class="txt_i">
        Spectacle & concert
        <img src="/media/images/images.png" width="50px"/>
    </a>
</button>
<button type="button"  class="btn_i m-2">
    <a href="{% url 'event_category' 'sport'%}" class="txt_i">
        Sport & bien-etre
        <img src="/media/images/images (3).jpg" width="50px"/>
    </a>
</button>

<button type="button"  class="btn_i m-2">
    <a href="{% url 'event_category' 'excursion'%}" class="txt_i">
       Excursion & ballade
        <img src="/media/ballade.jpg" width="60px"/>
    </a>
</button>
<button type="button"  class="btn_i m-2">
    <a href="{% url 'event_category' 'divertissement'%}" class="txt_i">
        Sortie & divertissement 
        <img src="/media/images/téléchargement (19).jpg" width="50px"/>
    </a>
</button>