
<form method="GET" action="{% url 'event_filtre'%}">
    <label for="region" class="form-label mt-2">lieu</label>
    <select name="region" class="form-select mb-4" id="location">  
        <option value="all">Selectionner un lieu</option>
        {% for ville in villes %}                     
        <option>{{ville.name}}</option>
        {%endfor%}
    </select>

    <label class="form-label">Type</label><br/>
   {% include 'profile/composants/check_activities.html'%}
    
    <label for="order" class="form-label">Ordre</label>
    <select name="order" class="form-select mb-4" id="order">                      
        <option value="asc">Croissant</option>
        <option value="desc">Décroissant</option>

    </select>



    <label for="tariff" class="form-label">tariff maximum (ar)</label>
    <input type="number" name="tariff" id="tariff" class="form-control mb-4" value="100000">

    <button type="submit" class="btn btn-secondary btn-full-width">Appliquer le filtre</button>
    
</form>
