<button type="button" class="btn-filter-category m-2">
    <a href="/yakoi/evenement/search?query=concert" class="txt-link-to-grey">
        Spectacle & concert
        <img src="/media/images/images.png" width="50px"/>
    </a>
</button>
<button type="button"  class="btn-filter-category m-2">
    <a href="/yakoi/evenement/search?query=activite" class="txt-link-to-grey">
        Sport & bien-etre
        <img src="/media/images/images (3).jpg" width="50px"/>
    </a>
</button>

<button type="button"  class="btn-filter-category m-2">
    <a href="/yakoi/evenement/search?query=excursion" class="txt-link-to-grey">
       Excursion & ballade
        <img src="/media/images/ballade.jpg" width="60px"/>
    </a>
</button>
<button type="button"  class="btn-filter-category m-2">
    <a href="/yakoi/evenement/search?query=sensatin_forte" class="txt-link-to-grey">
       Senation forte
        <img src="/media/images/sensation.jpg" width="60px"/>
    </a>
</button>
<button type="button"  class="btn-filter-category m-2">
    <a href="/yakoi/evenement/search?query=voyage" class="txt-link-to-grey">
        Voyage organisé 
        <img src="/media/images/téléchargement (19).jpg" width="50px"/>
    </a>
</button>