
                <form method="POST" action="{% url 'explore' %}">
                    {% csrf_token %}
                <div class="card" style="width: 100%">
                    <div class="card-header  card1">
                        <div id="MyDiv2" >     
                        </div>
                    </div>

                    <div class="card-header">
                        <button type="submit" class="btn btn-secondary btn-full-width">Rechercher</button>
                    </div>
                    
                    <div class="">
                        <div id="MyDiv">
                            {%for tag in tags%}  
                                <button type="button" id="tag{{tag.id}}" name="tagger" class="btn btn-primary">
                                    <input type="checkbox" id="id_tag{{tag.id}}" value="{{tag.name}}" name="rc[]"/>
                                    <label for="id_tag{{tag.id}}" class="form-check-label">{{tag.name}}</label>
                                </button>
                            {%endfor%}
                        </div> 
                    </div>
                   </div>
                </form>
            