<button type="button" class="btn_i m-2">
    <a href="/yakoi/evenement/search?query=concert" class="txt_i">
        Spectacle & concert
        <img src="/media/images/images.png" width="50px"/>
    </a>
</button>
<button type="button"  class="btn_i m-2">
    <a href="/yakoi/evenement/search?query=activite" class="txt_i">
        Sport & bien-etre
        <img src="/media/images/images (3).jpg" width="50px"/>
    </a>
</button>

<button type="button"  class="btn_i m-2">
    <a href="/yakoi/evenement/search?query=excursion" class="txt_i">
       Excursion & ballade
        <img src="/media/ballade.jpg" width="60px"/>
    </a>
</button>
<button type="button"  class="btn_i m-2">
    <a href="/yakoi/evenement/search?query=voyage" class="txt_i">
        Voyage organisé 
        <img src="/media/images/téléchargement (19).jpg" width="50px"/>
    </a>
</button>